<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto: contato@geanramos.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Meu Instagram" target="_blank" href="https://www.instagram.com/geanramus"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="Meu Facebook" target="_blank" href="https://www.facebook.com/geanramos"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="Meu Twitter" target="_blank" href="https://www.twitter.com/geanramos"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Meu WhatsApp" target="_blank" href="http://geanramos.com/gzap"><i class="icon fa fa-whatsapp" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>Sobre</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
